@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model dynamic
@{
}

<html>
<head>
</head>
<body>
<h1>A great email template</h1>
<p>Hi there @Model.Name, It's great to see you!</p>
</body>
</html>